<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <div class="md-whiteframe-8dp layout-padding layout-margin">
        <p class="md-display-1">
            ID SmartMirror Prototype : <span>{{vm.sections[0].id_espejo}}</span>
        </p>
        <div class="column">
         <md-input-container>
           <label class="md-display-1">IP</label>
           <input ng-model="vm.sections[0].ip" disabled>
         </md-input-container>
         <md-input-container>
           <label class="md-display-1">Puerto</label>
           <input ng-model="vm.sections[0].port" type="number" disabled>
         </md-input-container>
         </div>
        <!-- <i class="material-icons md-display-4">chrome_reader_mode</i> -->
    </div>
    <div class="md-whiteframe-8dp layout-padding">
        <md-switch class="md-primary"
                   md-no-ink aria-label="Switch No Ink"
                   ng-model="vm.data.cb1"
                   ng-change="vm.onChange(vm.data.cb1)">
            Switch SmartMirror
        </md-switch>
        <p>
            Time for Sleep
        </p>
        <md-input-container class="md-icon-float md-icon-right md-block">
             <div class="column">
                 <input ng-model="vm.sections[0].timeoff"
                        ng-change ="vm.onChangeTime(vm.sections[0].timeoff)"
                        type="number" step="10">
                 <i class="material-icons">av_timer</i>
             </div>
    </div>
    <div class="md-whiteframe-8dp layout-padding layout-margin">

         </md-input-container>
    </div>
</md-content>
<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="View Mirror {{vm.sections[0].view}}">
            <md-content class="row md-padding md-margin" style="margin-top:40px;padding-top:80px">
              <md-input-container flex="30">
                <label  class="md-display-1 ">Name of Guest</label>
                <input ng-change="vm.onChangeM()" ng-model="vm.guest">
              </md-input-container>
              <md-input-container flex>
                <label class="md-display-1">Message to Guest</label>
                <textarea ng-change="vm.onChangeM()" ng-model="vm.guestMessage" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
                <md-input-container>
                    <form action="/api/photo" method="post" enctype="multipart/form-data">
                        <i class="material-icons">file_upload</i>
                        <input type="file" file-model="myFile" name="file"/>
                        <md-button class="md-raised md-primary" ng-click="vm.uploadFile()">Upload</md-button>
                    </form>
                </md-input-container>
            </md-content>
          </md-tab>
          <md-tab label="View Mirror {{vm.sections[1].view}}">
          <div class="column">
              <div flex layout="row" id="mainBody" class="md-whiteframe-8dp layout-padding layout-margin"
                    max-width="450px">
                <md-content class="md-padding">
                  <form ng-submit="vm.addTodo()">
                    <div layout layout-align-gt-sm="center center">
                      <md-input-container flex="85">
                        <label>Add todo item</label>
                        <input ng-model="vm.todoText" placeholder="Todo item">
                      </md-input-container>
                      <md-input-container>
                         <md-button type="submit" class="md-fab" aria-label="Add todo items">
                            <md-icon><i class="material-icons">add</i></md-icon>
                         </md-button>
                      </md-input-container>
                    </div>
                  </form>

                  <div>
                    <div flex layout layout-align="end end" class="listHeader">
                      {{vm.remaining()}} of {{vm.todos.length}} remaining</span>
                      [<a href="" ng-click="vm.archive()">Archive</a>]
                    </div>
                    <ul>
                      <li ng-repeat="todo in vm.todos">
                        <md-checkbox ng-model="vm.todo.done" aria-label="Todo Checkbox" ng-init="vm.todo.done=false" >
                          {{todo.text}}
                        </md-checkbox>
                      </li>
                    </ul>
                </div>
                </md-content>
            </div>

            <div flex layout="row" id="mainBody" class="md-whiteframe-8dp layout-padding layout-margin">
              <md-content class="md-padding">
                <form ng-submit="vm.addTodo()">
                  <div layout layout-align-gt-sm="center center">
                    <md-input-container flex="85">
                      <label>Add todo item</label>
                      <input ng-model="vm.todoText" placeholder="Todo item">
                    </md-input-container>
                    <md-input-container>
                       <md-button type="submit" class="md-fab" aria-label="Add todo items">
                          <md-icon><i class="material-icons">add</i></md-icon>
                       </md-button>
                    </md-input-container>
                  </div>
                </form>

                <div>
                  <div flex layout layout-align="end end" class="listHeader">
                    {{vm.remaining()}} of {{vm.todos.length}} remaining</span>
                    [<a href="" ng-click="vm.archive()">Archive</a>]
                  </div>
                  <ul>
                    <li ng-repeat="todo in vm.todos">
                      <md-checkbox ng-model="vm.todo.done" aria-label="Todo Checkbox" ng-init="vm.todo.done=false" >
                        {{todo.text}}
                      </md-checkbox>
                    </li>
                  </ul>
              </div>
              </md-content>
          </div>

          <div flex layout="row" id="mainBody" class="md-whiteframe-8dp layout-padding layout-margin">
            <md-content class="md-padding">
              <form ng-submit="vm.addTodo()">
                <div layout layout-align-gt-sm="center center">
                  <md-input-container flex="85">
                    <label>Add todo item</label>
                    <input ng-model="vm.todoText" placeholder="Todo item">
                  </md-input-container>
                  <md-input-container>
                     <md-button type="submit" class="md-fab" aria-label="Add todo items">
                        <md-icon><i class="material-icons">add</i></md-icon>
                     </md-button>
                  </md-input-container>
                </div>
              </form>

              <div>
                <div flex layout layout-align="end end" class="listHeader">
                  {{vm.remaining()}} of {{vm.todos.length}} remaining</span>
                  [<a href="" ng-click="vm.archive()">Archive</a>]
                </div>
                <ul>
                  <li ng-repeat="todo in vm.todos">
                    <md-checkbox ng-model="vm.todo.done" aria-label="Todo Checkbox" ng-init="vm.todo.done=false" >
                      {{todo.text}}
                    </md-checkbox>
                  </li>
                </ul>
              </div>
            </md-content>
        </div>
      </div>
          </md-tab>
    </md-tabs>
</md-content>
