<div layout-gt-md="row">
  <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}"
           md-theme-watch
           ng-repeat="section in vm.sections">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">View {{section.view}}</span>
            <span class="md-subhead">Description : {{section.description}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media" style="min-width: 4em;">
            {{vm.sections | json}}
          </div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon ><i class="material-icons">play_circle_outline</i></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon><i class="material-icons">reorder</i></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon><i class="material-icons">settings</i></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
</div>
