<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>

<link rel='stylesheet prefetch' href='//codepen.io/assets/reset/normalize.css'><link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/110131/weather-icons.css'>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="lib/loopback/lb-services.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/controllers.js"></script>

  </head>
  <body ng-app="app" ng-controller="mainCtrl as vm">
    <div class="container" style="visibility:{{ vm.vissible }}">

      <h2 class="error"
          ng-show="!vm.weatherData.name">
        {{vm.weatherData.message}}
      </h2>

      <h2 class="loading">Loading...</h2>

      <div ng-if="vm.weatherData.name"
           class="row card back"
           style="padding:0;margin:0;">
        <div class="col col-60" style="padding-left:30px">
          <h2 id="clock">
            {{ clock }}
          </h2>
          <div class="date">
              {{ date }}
          </div>
          <h2 id="temp">Bienvenido {{ vm.name }} ,
             <p style="font-size:0.7em;font-family: 'Krona One', sans-serif;">
               {{vm.coment}}
             </p>
          </h2>
        <div class="icon" >
            <!-- Dia -->
            <i ng-if="vm.weatherData.weather[0].id == 800 &&
                      vm.weatherData.dt < vm.weatherData.sys.sunset"
               class="wi wi-day-sunny"></i>

            <!-- Noche -->
            <i ng-if="vm.weatherData.weather[0].id == 800 &&
                      vm.weatherData.dt > vm.weatherData.sys.sunset"
               class="wi wi-night-clear"></i>


            <!-- Nuboso -->
            <i ng-if="vm.weatherData.weather[0].id >= 801 &&
                      vm.weatherData.weather[0].id <= 804 &&
                      vm.weatherData.dt < vm.weatherData.sys.sunset &&
                      vm.weatherData.clouds.all < 50"
               class="wi wi-day-cloudy"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 801 &&
                      vm.weatherData.weather[0].id <= 804 &&
                      vm.weatherData.dt > vm.weatherData.sys.sunset &&
                      weatherData.clouds.all < 50"
               class="wi wi-night-cloudy"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 801 &&
                      vm.weatherData.weather[0].id <= 804 &&
                      vm.weatherData.clouds.all >= 50"
               class="wi wi-cloudy"></i>

            <!-- Nevado -->
            <i ng-if="vm.weatherData.weather[0].id >= 300 &&
                      vm.weatherData.weather[0].id <= 321 &&
                      vm.weatherData.dt < vm.weatherData.sys.sunset &&
                      vm.weatherData.clouds.all < 50"
               class="wi wi-day-rain-mix"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 300 &&
                      vm.weatherData.weather[0].id <= 321 &&
                      vm.weatherData.dt > vm.weatherData.sys.sunset &&
                      weatherData.clouds.all < 50"
               class="wi wi-night-alt-rain-mix"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 300 &&
                      vm.vm.weatherData.weather[0].id <= 321 &&
                      vm.weatherData.clouds.all >= 50"
               class="wi wi-rain-mix"></i>

            <!-- Lluvioso -->
            <i ng-if="vm.weatherData.weather[0].id >= 500 &&
                      vm.weatherData.weather[0].id <= 531 &&
                      vm.weatherData.dt < vm.weatherData.sys.sunset &&
                      weatherData.clouds.all < 50" class="wi wi-day-rain"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 500 &&
                      vm.weatherData.weather[0].id <= 531 &&
                      vm.weatherData.dt > vm.weatherData.sys.sunset &&
                      weatherData.clouds.all < 50"
               class="wi wi-night-rain"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 500 &&
                      vm.weatherData.weather[0].id <= 531 &&
                      vm.weatherData.clouds.all >= 50"
               class="wi wi-rain"></i>

            <!-- Nevado -->
            <i ng-if="vm.weatherData.weather[0].id >= 600 &&
                      vm.weatherData.weather[0].id <= 622 &&
                      vm.weatherData.dt < vm.weatherData.sys.sunset &&
                      weatherData.clouds.all < 50"
              class="wi wi-day-snow"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 600 &&
                      vm.weatherData.weather[0].id <= 622 &&
                      vm.weatherData.dt > vm.weatherData.sys.sunset &&
                      weatherData.clouds.all < 50"
               class="wi wi-night-snow"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 600 &&
                      vm.weatherData.weather[0].id <= 622 &&
                      vm.weatherData.clouds.all >= 50"
               class="wi wi-snow"></i>

            <!-- Tormenta Electrica -->
            <i ng-if="vm.weatherData.weather[0].id >= 200 &&
                      vm.weatherData.weather[0].id <= 232 &&
                      vm.weatherData.dt < vm.weatherData.sys.sunset &&
                      vm.weatherData.clouds.all < 50"
               class="wi wi-day-thunderstorm"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 200 &&
                      vm.weatherData.weather[0].id <= 232 &&
                      vm.weatherData.dt > vm.weatherData.sys.sunset &&
                      vm.weatherData.clouds.all < 50"
               class="wi wi-night-thunderstorm"></i>

            <i ng-if="vm.weatherData.weather[0].id >= 200 &&
                      vm.weatherData.weather[0].id <= 232 &&
                      vm.weatherData.clouds.all >= 50"
               class="wi wi-thunderstorm"></i>

           <p class="info">

            <i ng-if="vm.weatherData.weather[0].id >= 701 &&
                       vm.weatherData.weather[0].id <= 781"
                class="wi wi-fog"></i>

            <h2 id="temp">
              {{vm.weatherData.main.temp - 273 | number:0}} &deg;C
            </h2>
            <img ng-src="{{vm.id_espejo}}" alt="" id="logo" />
             <!-- <span class="city">{{vm.weatherData.name}},  {{vm.weatherData.sys.country}}</span> -->
        </div>
      </div>
      </div>
    </div>
      </div>
    </div>
  </body>
</html>
