<div class="container" style="visibility:{{ !vm.vissible }};margin-top:50px;">
    <div id="titles">
        <div id="titlecontent">
           <ul style="padding:0;">
             <li class="item" style="list-style:none;" ng-repeat="feed in vm.feeds">
               <div class="title">{{feed.title}}</div>
                <div class="subtitle">{{feed.contentSnippet}}</div>
                <div class="newDate">{{feed.publishedDate}}</div>
             </li>
           </ul>
        </div>
    </div>

    <!-- <div id="titles" ng-if="!vm.toggle">
        <div id="titlecontent">
           <ul>
             <li class="item" ng-repeat="menu in vm.menus | filter:{class: 'breakfast'}">
               <h5> {{menu.class}}</h5>
                <p class="text-left">{{menu.dish}}</p>
                <span class="small"> descripcion</span>
             </li>
             <li class="item" ng-repeat="menu in vm.menus | filter:{class: 'lunch'}">
               <h5> {{menu.class}}</h5>
                <p class="text-left">{{menu.dish}}</p>
                <span class="small"> descripcion</span>
             </li>
             <li class="item" ng-repeat="menu in vm.menus | filter:{class: 'dinner'}">
               <h5> {{menu.class}}</h5>
                <p class="text-left">{{menu.dish}}</p>
                <span class="small"> descripcion</span>
             </li>
           </ul>
        </div>
    </div> -->
</div>
