<div class="widgets">
  <div class="row">
    <div class="col-md-4 col-lg-4">
    <div ba-panel ba-panel-title="ID SmartMirror Prototype: {{vm.sections[0].id_espejo}}" ba-panel-class="xsmall-panel light-text">
        <label>
           <h2>Switch SmartMirror</h2>
           <switch color="primary"
                   ng-model="screenSwitch"
                   ng-change="vm.onChange()">
           </switch>
        </label>
      </div>
    </div>

    <div class="col-md-8 col-lg-4">
      <div ba-panel ba-panel-title="Network config" ba-panel-class="xsmall-panel light-text">
          <div class="input-group">
          <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">IP</span>
          <input type="text"
                 class="form-control with-primary-addon"
                 aria-describedby="basic-addon1"
                 disabled
                 ng-model="vm.sections[0].ip">
        </div>
        <div class="input-group">
          <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">PORT</span>
          <input type="text"
                 class="form-control with-primary-addon"
                 aria-describedby="basic-addon1"
                 disabled
                 ng-model="vm.sections[0].port">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div ba-panel ba-panel-title="Screen config" ba-panel-class="xsmall-panel light-text feed-comply-panel with-scroll todo-panel">
        <div class="input-group">
          <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">Time Sleep <i class="icon ion-ios-stopwatch-outline"></i></span>
          <input type="number"
                 class="form-control bfh-number"
                 ng-model="vm.sections[0].timeoff"
                 ng-change ="vm.onChangeTime(vm.sections[0].timeoff)"
                 type="number" step="10">
        </div>
      </div>
    </div>
  </div>
</div>
