<div class="widgets">
  <div class="row shift-up">
    <div class="col-md-12 col-lg-4">
      <div ba-panel ba-panel-title="Guest" ba-panel-class="todo-panel light-text">
          <div class="form-group">
            <input type="text"
                   class="form-control input-lg"
                   ng-change="vm.onChangeM()"
                   ng-model="vm.guest">
          </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div ba-panel ba-panel-title="Message to guest" ba-panel-class="todo-panel light-text">
          <div class="form-group">
            <textarea class="form-control"
                      ng-change="vm.onChangeM()"
                      ng-model="vm.guestMessage"
                      rows="5">
            </textarea>
          </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div ba-panel ba-panel-title="Logo" ba-panel-class="light-text feed-comply-panel todo-panel">
        <div class="userpic">
                  <div class="userpic-wrapper">
                    <img ng-src="{{ vm.id_espejo }}">
                  </div>
                  <i class="ion-ios-close-outline" ng-click="vm.removePicture()" ng-if="!vm.noPicture"></i>
                  <a href class="change-userpic">Change Profile Picture</a>
                  <form action="/api/photo" method="post" enctype="multipart/form-data">
                    <input type="file" file-model="vm.myFile" name="file" id="uploadFile">
                  </form>
        </div>

      </div>
      <button type="" name="button" ng-click="vm.uploadPicture()"> subir</button>
    </div>
  </div>
  </div>
