<div class="widgets">
    <div class="row shift-up">
      <div class="col-xlg-3 col-lg-4 col-md-4 col-xs-12"
           ba-panel
           ba-panel-title="Add breakfast dish"
           ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
        <!-- <menu-list></menu-list> -->
  <!--comentado por el momento  -->
        <!-- <h5>View range</h5>
        <ion-slider type="double"
        grid="true"
        min="0"
        max="23"
        from="6"
        to="10"
        disable="false">
      </ion-slider> -->
        <form ng-submit="vm.addDish('breakfast')" style="padding-top:15px">
            <div class="row" style="padding: 0 15px 15px 15px;">
              <label>
                <input ng-model="vm.dishText"
                       class="form-control task-todo"
                       placeholder="Add dish"
                       style="width:245px;">
              </label>
              <button type="submit" class="btn btn-primary btn-lg"><i class="icon ion-plus"></i></button>
            </div>
        </form>

        <div>
          <ul style="padding-top:20px;padding-left:0px">
            <li ng-repeat="dish in vm.dishes | filter : {class: 'breakfast'}"
                ng-mouseenter="entro = true"
                ng-mouseleave="entro = false"
                style="list-style:none;">

                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox"
                         id="inlineCheckbox01"
                         value="option1"
                         ng-model="dish.status"
                         aria-label="Todo Checkbox"
                         ng-change="vm.updateDish(dish.id, dish.status)">
                         <span></span>
                </label>
              <span>{{dish.dish}}</span>
              <i class="icon ion-android-cancel"
                 ng-click="vm.deleteDish(dish.id)"
                 ng-if="entro">
              </i>
            </li>
          </ul>
      </div>
      </div>
      <div class="col-xlg-3 col-lg-4 col-md-4 col-xs-12"
           ba-panel
           ba-panel-title="Add Lunch dish"
           ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
        <!-- <menu-list></menu-list> -->
<!--comentado por el momento  -->
        <!-- <h5>View range</h5>
        <ion-slider type="double"
        grid="true"
        min="0"
        max="23"
        from="6"
        to="10"
        from="12"
        to="13"
        disable="false">
        </ion-slider> -->
        <form ng-submit="vm.addDish('lunch')" style="padding-top:15px">
            <div class="row" style="padding: 0 15px 15px 15px;">
              <label>
                <input ng-model="vm.dishText"
                       class="form-control task-todo"
                       placeholder="Add dish"
                       style="width:245px;">
              </label>
              <button type="submit" class="btn btn-primary btn-lg"><i class="icon ion-plus"></i></button>
            </div>
        </form>

        <div>
          <ul style="padding:0px;">
            <li ng-repeat="dish in vm.dishes | filter : {class: 'lunch'}"
                ng-mouseenter="entro = true"
                ng-mouseleave="entro = false"
                style="list-style:none;">

                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox"
                         id="inlineCheckbox01"
                         value="option1"
                         ng-model="dish.status"
                         aria-label="Todo Checkbox"
                         ng-change="vm.updateDish(dish.id, dish.status)">
                         <span></span>
                </label>
              <span>{{dish.dish}}</span>
              <i class="icon ion-android-cancel"
                 ng-click="vm.deleteDish(dish.id)"
                 ng-if="entro">
              </i>
            </li>
          </ul>
      </div>
      </div>
      <div class="col-xlg-3 col-lg-4 col-md-4 col-xs-12"
           ba-panel
           ba-panel-title="Add Dinner dish"
           ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
        <!-- <menu-list></menu-list> -->
<!--comentado por el momento  -->
        <!-- <h5>View range</h5>
        <ion-slider type="double"
        grid="true"
        min="0"
        max="23"
        from="6"
        to="10"
        from="12"
        to="13"
        disable="false">
        </ion-slider> -->
        <form ng-submit="vm.addDish('dinner')" style="padding-top:15px">
            <div class="row" style="padding: 0 15px 15px 15px;">
              <label>
                <input ng-model="vm.dishText"
                       class="form-control task-todo"
                       placeholder="Add dish"
                       style="width:245px;">
              </label>
              <button type="submit" class="btn btn-primary btn-lg"><i class="icon ion-plus"></i></button>
            </div>
        </form>

        <div>
          <ul style="padding:0px;">
            <li ng-repeat="dish in vm.dishes | filter : {class: 'dinner'}"
                ng-mouseenter="entro = true"
                ng-mouseleave="entro = false"
                style="list-style:none;">

                <label class="checkbox-inline custom-checkbox nowrap">
                  <input type="checkbox"
                         id="inlineCheckbox01"
                         value="option1"
                         ng-model="dish.status"
                         aria-label="Todo Checkbox"
                         ng-change="vm.updateDish(dish.id, dish.status)">
                         <span></span>
                </label>
              <span>{{dish.dish}}</span>
              <i class="icon ion-android-cancel"
                 ng-click="vm.deleteDish(dish.id)"
                 ng-if="entro">
              </i>
            </li>
          </ul>
      </div>
      </div>
    </div>
</div>
