.small {
    font-size:19px;
    color : white;
}

li.item {
  background-color: transparent;
  font-size: 0.2em;
}

li.item h5{
  padding-top: 0;
  margin-top: 0;
  color: white;
  font-size: 3em;
}

li.item p {
  padding-top: 0;
  margin-top: 0;
  color: white;
}


.bar {
  position: fixed;
  background-color: transparent;
  font-size: 0.9em;
}

.title{
  font-size: 2.5em;
  padding-bottom: 3px;
  padding-top: 3px;
}
.subtitle{
  font-size: 1.5em;
}
.newDate{
  font-size: 1.1em;
}

#titles
{
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 0%;
  margin-left: 0.1em;
  font-size: 260%;
  text-align: justify;
  font-weight: bold;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: rotateX(25deg);
}

#titles:after
{
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

#titlecontent
{
  position: absolute;
  top: 100%;
  animation: scroll 80s linear 4s infinite;
  min-width: 70%;
  max-width: 72%;
  margin:0;
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}
